[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
gunicorn = "*"
setproctitle = "*"
pytest = "==3.2.5"
pytest-flask = "==0.10.0"
raven = {extras = ["flask"]}
lmdb = "*"
maya = "*"


[dev-packages]

pytest = "*"
pytest-flask = "*"
"flake8" = "*"
